:root{
    --dark-orange: #ff9933c0;
    --light-green: #dcffd1;
    --light-blue: #dbe8f9;
    --darker-blue: #a3b9c2;
    --light-yellow: #ffffed;
    --light-orange: #fff0d1;
    --dark-blue: #333366;
}

html, body{
    font-family: sans-serif;
    height:100%;
    margin-top: 0;
    margin-left: 0;
    margin-right:0;
    --secondary-menu: var(--dark-blue);
    --primary-menu: white;
    --primary-text: white;
    --secondary-text: black;
    background-color: white;
    
}

.screenwidth{
    width:100%;
}

.screenheight{
    height:75%;
    margin: 0;
}

.centre{
    text-align: center;
    margin-bottom: 0;
}

p{
    margin-right: 1%;
    margin-left: 1%;
    color: var(--secondary-text);
}

h2{
    margin-left: 1%;
    color: var(--secondary-text);
}

img{
    margin-right: 1%;
    margin-left: 1%;    
}

img.right{
    float:right;
}