html, body{
    font-family: sans-serif;
    height:100%
}

.screenwidth{
    width:100%;
}

.screenwidth .title{
    text-align: center;
    color: white;
    background-color: black;
}

.screenheight{
    height:75%;
    margin: 0;
}

.centre{
    text-align: center;
    margin-bottom: 0;
}

.this_menu{
    color: black;
    background-color: white;
    display:inline-block;
    width: auto;
    min-width: 15%;
}

.this_menu:hover{
    color:white;
    background-color: black;

}

.other_menu{
    color:white;
    background-color: black;
    display:inline-block;
    width: auto;
    min-width: 15%;
}

.other_menu:hover{
    color: black;
    background-color: white;
    
}

.dropdown_content{
    display:none;
    position:absolute;
    background-color:black;
    min-width: 160px;
    box_shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

a.ddchild{
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}

a.ddchild:hover{
    background-color:white;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color:black;
}

.show {display:block;}